<div id="back-top">
  <a href="#top" title="back to top"></a>
</div>
<footer>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    <p><small>{{ site.copyright }}</small></p>
</footer>
{% include disqus-counts.html %}
<script src="/static/minimal/javascripts/scale.fix.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script ty[e="text/javascript">
$("#back-top").hide();
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('#back-top').fadeIn();
  } else {
      $('#back-top').fadeOut();
  }
});
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
  }, 800);
    return false;
});
});
</script>
</div>
</body>
</html>

