<footer>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    <p><small>{{ site.copyright }}</small></p>
</footer>
<script src="/static/minimal/javascripts/scale.fix.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascripts">
jQuery("#search-form").submit(function(){
    var query = document.getElementById("google-search").value;
    window.open("http://google.com/search?q=" + query+ "%20site:" + "http://blog.javachen.com");
});
</script>
</div>
</body>
</html>

